.country_images {
	height: 50px;
	width : 80px;
}
#meal_photo2 {
	height: 420px;
	width : 640px;
}



p {
    font-size: 20px;
}

p2 { 	
    font-size: 20px;
}

.food{
	height :170px;
	width : 210px;
}

#imagelink { height : 200px;
	     width  : 200px;
}

body {
    background-image: url("http://newartcolorz.com/images/2014/9/red-backgrounds-18837-19317-hd-wallpapers.jpg");
	color:#FFCC66;    
} 

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
	color:#FFCC66;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
#sidebackground {
			height : 920px;
			width  : 300px;
			float  : right;
}
