.country_images {
	height: 50px;
	width : 80px;
}
.food{
	height :170px;
	width : 210px;
}


body {
    background-image: url("http://newartcolorz.com/images/2014/9/red-backgrounds-18837-19317-hd-wallpapers.jpg");
	color:#FFCC66;    
} 

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
	color:#FFCC66;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
