<!DOCTYPE html>
<html>
<head>
  <title>
    Culturacipe
  </title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  
  
</head>

<body>
<div id ='sidebackground'> <img src="http://i183.photobucket.com/albums/x168/Love_Chibi/brown-grunge-background.jpg"> </div>
  <h1>Culturacipe</h1>
  <br><br>

  <h2>The Dish</h2>
  <br>
  <h3>{{recipe.name}}</h3>
  <img id = "meal_photo2" src="{{recipe.photo}}">

  <h4>{{recipe.origin}}</h4>
  <h4> Ingrediants</h4>	
  <p class= "ing" style="white-space: pre-wrap;">{{recipe.ingr}}</p>
  <br>
  <h4> How to </h4>	
  <p class = "dir" style="white-space: pre-wrap;">{{recipe.how_to}}</p>
  <br>
  <h4> The Story Behind The Dish</h4>
  <p class = "story" style="white-space: pre-wrap;">{{recipe.story}}</p>
  
  
<a href="{{ url_for('main')}}"><h2> Back </h2> </a>
</body>


</html
