<Doctype! html>
<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
<title></title>
</head>

<body>

<form action="" method="POST">

<div align="center">
<div><input type="text" name="search_word"></div>
<div><input type="submit" name="search_submit" value="Search!"></div>
</div>
<br>

<hr size="3" color="yellow">

<div>
{% for recipe in matches %}

<div align="center">
<div><h3>{{recipe.name}}</h3></div>
<div><a href="{{url_for('view_recipe',Recipe_id=recipe.id)}}"><img id = "meal_photo2" src="{{recipe.photo}}"></a></div>
<div><a href="{{url_for('view_recipe',Recipe_id=recipe.id)}}"><h3>See the recipe</h3></a></div>

</div>

{% endfor %}
</div>

<br>

<div align = "center"><a href="{{url_for('main')}}" ><h2>Back to home page</h3></a></div>


</form>
</body>

</html>
